-r pip_requirements.txt
dnspython
gunicorn
#For resizing images
pillow
python-memcached
whoosh==2.4
django-redis

psycopg2
pysolr
launchpadlib
django-redis-cache

#Uncomment this if you want to index things in solr.
cssselect

